<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="admin" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="blurry_vision" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                <resource>Albedo_BlurryVision::config_settings</resource>
                <label>Blurry Vision Settings</label>
                <field id="enabled" translate="label,comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Blurry Vision enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>When enabled, figures and private data will be blurred by default.</comment>
                </field>
                <field id="blur_strength" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Blur strength</label>
                    <validate>required-entry validate-number validate-not-negative-number</validate>
                    <comment>In pixels, recommended value is 6 and above.</comment>
                </field>
                <field id="selectors" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>CSS Selectors to blur</label>
                    <frontend_model>Albedo\BlurryVision\Block\Adminhtml\Form\Field\SelectorItems</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Define list of selectors you want to blur. NOTE: There is no validation of newly added rules!</comment>
                </field>
            </group>
        </section>
    </system>
</config>
